#outer1{
    background-color: sandybrown;
    height: 300px;
    width: 300px;
}
#outer2{
    background-color: brown;
    height: 300px;
    width: 300px;
}

img{

    height: 200x;
    width: 200px;
}