header{
    margin: 0;
     font-size: 50px;
     text-align: center;
     color: cyan;
     font-style: oblique;
     background-color: rgb(0, 0, 0, .5);
 }
 #safeGym{
     color: cyan;
 }
 body
 {
     margin: 0;
     background-color: rgb(168, 86, 189);
 }
 .pages{
     margin: 0;
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     align-items: flex-start;
     position: absolute;
     background-color: rgb(0, 0, 0, .75);
 }
 #home{
    font-style: normal;
    cursor: pointer;
    padding: 0px 5px 0px 5px;
   font-size: 25px;
   border: 3px solid black;
   text-align: center;
 }
 #home:hover{
    text-shadow: 0 0 15px white;
 }
 #homeLink{
     color:cyan;
 }
 #merch{
     position: relative;
     display: inline-block;
     font-style: normal;
     cursor: pointer;
     padding: 0px 5px 0px 5px;
     font-size: 25px;
    border: 3px solid black;
    text-align: center;
 }
 #merch:hover{
    text-shadow: 0 0 15px white;
 }
 #merchLink{
    color: pink;
 }
 .dropdown-content{
     display:none;
     background-color: lightslategray;
 }
 .dropdown-content #merches {
    color: white;
    text-decoration: none;
    display: block;
    border: 1px solid white;
  }
.dropdown-content #merches:hover{
    background-color: black;
}
#merch:hover .dropdown-content{
    display: block;
}
/*
#merch:hover #merchLink{
    background-color: lightslategray;
}
*/
 #about{
     font-style: initial;
     color: pink;
     padding: 0px 5px 0px 5px;
     border: 3px solid black;
     font-size: 25px;
 }
 #exercises{
     font-style: inherit;
     color: pink;
     width: 175px;
     padding: 0px 5px 0px 5px;
     border: 3px solid black;
     font-size: 25px;
 }
 #enrollment{
     font-style: unset;
     color: pink;
     width: 175px;
     padding: 0px 5px 0px 5px;
     border: 3px solid black;
     font-size: 25px;
 }
 
 img{ 
     margin: 0;
     width: 100%;
     
 }

 .picture{
     margin: 0;
     width: 100%;
     align-items: center;
     background-image: url(https://campusrecmag.com/rec-month-iu-indiana-university/srsc_cardio_studio/);
     object-fit: contain;
 }